In [1]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import pymongo
import pandas as pd

In [4]:
#Reading files
#crime=pd.read_csv()
demography=pd.read_csv('output_files/county.csv')
demography.head()

,Unnamed: 0,NAME,2017 Pop,2017 Birth to Unmarried Women,High School Graduate(%),Unemployment(%),Percent Under the Poverty lavel,Mean Income,Sex Ratio(per hundred female),Mean Age
0,1,Ocean,589699,22.2,34.3,6.7,10.9,86433,92.9,42.9
1,2,Atlantic,272926,44.1,33.0,10.9,15.3,78395,93.9,41.1
2,3,Gloucester,291372,29.2,33.8,7.4,7.9,98029,94.5,39.9
3,4,Middlesex,837288,23.8,25.8,6.4,8.6,104526,96.9,38.1
4,5,Salem,63776,48.7,38.0,8.0,14.2,81352,95.2,41.9

In [5]:
# Initialize PyMongo to work with MongoDBs and establish connection with the cluster in cloud
conn = 'mongodb+srv://Harmeet:harmeet123@cluster0-v6uxh.mongodb.net/test?retryWrites=true&w=majority'
client = pymongo.MongoClient(conn)

In [6]:
# Define database and collection
db = client.crime_db
collection = db.demography

In [7]:
#Add demography data to the database in cluster
db.collection.insert_many(demography.to_dict('records'))

In [8]:
#Read data from cluster
records=db.collection.find()
for record in records:
    print(record)

{'_id': ObjectId('5dc2efc840c2151ad2c09537'), 'Unnamed: 0': 1, 'NAME': 'Ocean ', '2017 Pop': 589699, '2017 Birth to Unmarried Women': 22.2, 'High School Graduate(%)': 34.3, 'Unemployment(%)': 6.7, 'Percent Under the Poverty lavel': 10.9, 'Mean Income': 86433, 'Sex Ratio(per hundred female)': 92.9, 'Mean Age': 42.9}
{'_id': ObjectId('5dc2efc840c2151ad2c09538'), 'Unnamed: 0': 2, 'NAME': 'Atlantic ', '2017 Pop': 272926, '2017 Birth to Unmarried Women': 44.1, 'High School Graduate(%)': 33.0, 'Unemployment(%)': 10.9, 'Percent Under the Poverty lavel': 15.3, 'Mean Income': 78395, 'Sex Ratio(per hundred female)': 93.9, 'Mean Age': 41.1}
{'_id': ObjectId('5dc2efc840c2151ad2c09539'), 'Unnamed: 0': 3, 'NAME': 'Gloucester ', '2017 Pop': 291372, '2017 Birth to Unmarried Women': 29.2, 'High School Graduate(%)': 33.8, 'Unemployment(%)': 7.4, 'Percent Under the Poverty lavel': 7.9, 'Mean Income': 98029, 'Sex Ratio(per hundred female)': 94.5, 'Mean Age': 39.9}
{'_id': ObjectId('5dc2efc840c2151ad2c0953a'), 'Unnamed: 0': 4, 'NAME': 'Middlesex ', '2017 Pop': 837288, '2017 Birth to Unmarried Women': 23.8, 'High School Graduate(%)': 25.8, 'Unemployment(%)': 6.4, 'Percent Under the Poverty lavel': 8.6, 'Mean Income': 104526, 'Sex Ratio(per hundred female)': 96.9, 'Mean Age': 38.1}
{'_id': ObjectId('5dc2efc840c2151ad2c0953b'), 'Unnamed: 0': 5, 'NAME': 'Salem ', '2017 Pop': 63776, '2017 Birth to Unmarried Women': 48.7, 'High School Graduate(%)': 38.0, 'Unemployment(%)': 8.0, 'Percent Under the Poverty lavel': 14.2, 'Mean Income': 81352, 'Sex Ratio(per hundred female)': 95.2, 'Mean Age': 41.9}
{'_id': ObjectId('5dc2efc840c2151ad2c0953c'), 'Unnamed: 0': 6, 'NAME': 'Passaic ', '2017 Pop': 510563, '2017 Birth to Unmarried Women': 33.5, 'High School Graduate(%)': 34.6, 'Unemployment(%)': 6.0, 'Percent Under the Poverty lavel': 17.0, 'Mean Income': 86232, 'Sex Ratio(per hundred female)': 94.7, 'Mean Age': 36.7}
{'_id': ObjectId('5dc2efc840c2151ad2c0953d'), 'Unnamed: 0': 7, 'NAME': 'Cape May ', '2017 Pop': 94549, '2017 Birth to Unmarried Women': 12.4, 'High School Graduate(%)': 33.0, 'Unemployment(%)': 8.4, 'Percent Under the Poverty lavel': 10.6, 'Mean Income': 85182, 'Sex Ratio(per hundred female)': 95.4, 'Mean Age': 48.7}
{'_id': ObjectId('5dc2efc840c2151ad2c0953e'), 'Unnamed: 0': 8, 'NAME': 'Camden ', '2017 Pop': 510996, '2017 Birth to Unmarried Women': 44.8, 'High School Graduate(%)': 30.7, 'Unemployment(%)': 7.9, 'Percent Under the Poverty lavel': 13.1, 'Mean Income': 86179, 'Sex Ratio(per hundred female)': 93.5, 'Mean Age': 38.5}
{'_id': ObjectId('5dc2efc840c2151ad2c0953f'), 'Unnamed: 0': 9, 'NAME': 'Bergen ', '2017 Pop': 937920, '2017 Birth to Unmarried Women': 18.6, 'High School Graduate(%)': 23.9, 'Unemployment(%)': 5.2, 'Percent Under the Poverty lavel': 7.2, 'Mean Income': 126475, 'Sex Ratio(per hundred female)': 93.9, 'Mean Age': 41.6}
{'_id': ObjectId('5dc2efc840c2151ad2c09540'), 'Unnamed: 0': 10, 'NAME': 'Union ', '2017 Pop': 557320, '2017 Birth to Unmarried Women': 33.7, 'High School Graduate(%)': 29.2, 'Unemployment(%)': 7.4, 'Percent Under the Poverty lavel': 10.3, 'Mean Income': 108110, 'Sex Ratio(per hundred female)': 95.1, 'Mean Age': 38.3}
{'_id': ObjectId('5dc2efc840c2151ad2c09541'), 'Unnamed: 0': 11, 'NAME': 'Warren ', '2017 Pop': 107088, '2017 Birth to Unmarried Women': 34.6, 'High School Graduate(%)': 31.5, 'Unemployment(%)': 7.4, 'Percent Under the Poverty lavel': 8.2, 'Mean Income': 94806, 'Sex Ratio(per hundred female)': 95.2, 'Mean Age': 43.5}
{'_id': ObjectId('5dc2efc840c2151ad2c09542'), 'Unnamed: 0': 12, 'NAME': 'Hudson ', '2017 Pop': 679756, '2017 Birth to Unmarried Women': 25.7, 'High School Graduate(%)': 26.2, 'Unemployment(%)': 7.1, 'Percent Under the Poverty lavel': 17.1, 'Mean Income': 92630, 'Sex Ratio(per hundred female)': 98.5, 'Mean Age': 34.9}
{'_id': ObjectId('5dc2efc840c2151ad2c09543'), 'Unnamed: 0': 13, 'NAME': 'Hunterdon ', '2017 Pop': 125717, '2017 Birth to Unmarried Women': 21.6, 'High School Graduate(%)': 21.7, 'Unemployment(%)': 4.4, 'Percent Under the Poverty lavel': 4.5, 'Mean Income': 143633, 'Sex Ratio(per hundred female)': 100.1, 'Mean Age': 45.9}
{'_id': ObjectId('5dc2efc840c2151ad2c09544'), 'Unnamed: 0': 14, 'NAME': 'Burlington ', '2017 Pop': 449192, '2017 Birth to Unmarried Women': 31.3, 'High School Graduate(%)': 28.9, 'Unemployment(%)': 6.9, 'Percent Under the Poverty lavel': 6.4, 'Mean Income': 104955, 'Sex Ratio(per hundred female)': 96.8, 'Mean Age': 41.4}
{'_id': ObjectId('5dc2efc840c2151ad2c09545'), 'Unnamed: 0': 15, 'NAME': 'Morris ', '2017 Pop': 498847, '2017 Birth to Unmarried Women': 12.2, 'High School Graduate(%)': 21.1, 'Unemployment(%)': 5.2, 'Percent Under the Poverty lavel': 4.6, 'Mean Income': 145273, 'Sex Ratio(per hundred female)': 96.1, 'Mean Age': 42.3}
{'_id': ObjectId('5dc2efc840c2151ad2c09546'), 'Unnamed: 0': 16, 'NAME': 'Monmouth ', '2017 Pop': 627551, '2017 Birth to Unmarried Women': 30.1, 'High School Graduate(%)': 24.7, 'Unemployment(%)': 6.0, 'Percent Under the Poverty lavel': 7.6, 'Mean Income': 123664, 'Sex Ratio(per hundred female)': 94.7, 'Mean Age': 42.8}
{'_id': ObjectId('5dc2efc840c2151ad2c09547'), 'Unnamed: 0': 17, 'NAME': 'Mercer ', '2017 Pop': 373362, '2017 Birth to Unmarried Women': 36.3, 'High School Graduate(%)': 24.6, 'Unemployment(%)': 7.5, 'Percent Under the Poverty lavel': 11.3, 'Mean Income': 111137, 'Sex Ratio(per hundred female)': 95.8, 'Mean Age': 38.6}
{'_id': ObjectId('5dc2efc840c2151ad2c09548'), 'Unnamed: 0': 18, 'NAME': 'Sussex ', '2017 Pop': 143570, '2017 Birth to Unmarried Women': 20.9, 'High School Graduate(%)': 31.4, 'Unemployment(%)': 6.4, 'Percent Under the Poverty lavel': 5.3, 'Mean Income': 108722, 'Sex Ratio(per hundred female)': 99.1, 'Mean Age': 44.1}
{'_id': ObjectId('5dc2efc840c2151ad2c09549'), 'Unnamed: 0': 19, 'NAME': 'Essex ', '2017 Pop': 800401, '2017 Birth to Unmarried Women': 40.7, 'High School Graduate(%)': 28.4, 'Unemployment(%)': 10.4, 'Percent Under the Poverty lavel': 16.7, 'Mean Income': 95235, 'Sex Ratio(per hundred female)': 92.5, 'Mean Age': 37.3}
{'_id': ObjectId('5dc2efc840c2151ad2c0954a'), 'Unnamed: 0': 20, 'NAME': 'Cumberland ', '2017 Pop': 154952, '2017 Birth to Unmarried Women': 50.6, 'High School Graduate(%)': 39.2, 'Unemployment(%)': 9.0, 'Percent Under the Poverty lavel': 18.8, 'Mean Income': 65539, 'Sex Ratio(per hundred female)': 105.5, 'Mean Age': 36.8}
{'_id': ObjectId('5dc2efc840c2151ad2c0954b'), 'Unnamed: 0': 21, 'NAME': 'Somerset ', '2017 Pop': 333316, '2017 Birth to Unmarried Women': 15.4, 'High School Graduate(%)': 21.1, 'Unemployment(%)': 4.9, 'Percent Under the Poverty lavel': 4.8, 'Mean Income': 144629, 'Sex Ratio(per hundred female)': 95.4, 'Mean Age': 41.3}