In [3]:
import requests
import json
import pandas as pd
import numpy as np
import warnings
import matplotlib.pyplot as plt

In [7]:
data = pd.read_csv("20190815_crimetrend_2018.csv") 
data.head()

,ORINumber,Agency,Population,Murder,Rape,Robbery,Assault,Burglary,Larceny,Auto Theft,County
0,NJ0010100,ABSECON CITY PD,8252.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Atlantic
1,NaN,Number of Offenses,8252.0,1.0,1.0,5.0,10,16,159,6,Atlantic
2,NaN,"Rate Per 100,000",8252.0,12.1,12.1,60.6,121.2,193.9,"1,926.8",72.7,Atlantic
3,NaN,Number of Clearances,8252.0,1.0,0.0,0.0,7,4,30,1,Atlantic
4,NaN,Percent Cleared,8252.0,100.0,0.0,0.0,70,25,19,17,Atlantic