In [1]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import pymongo
import pandas as pd

In [4]:
#Reading files
#crime=pd.read_csv()
demography=pd.read_csv('output_files/county.csv')
demography.head()

,Unnamed: 0,NAME,2017 Pop,2017 Birth to Unmarried Women,High School Graduate(%),Unemployment(%),Percent Under the Poverty lavel,Mean Income,Sex Ratio(per hundred female),Mean Age
0,1,Ocean,589699,22.2,34.3,6.7,10.9,86433,92.9,42.9
1,2,Atlantic,272926,44.1,33.0,10.9,15.3,78395,93.9,41.1
2,3,Gloucester,291372,29.2,33.8,7.4,7.9,98029,94.5,39.9
3,4,Middlesex,837288,23.8,25.8,6.4,8.6,104526,96.9,38.1
4,5,Salem,63776,48.7,38.0,8.0,14.2,81352,95.2,41.9

In [5]:
# Initialize PyMongo to work with MongoDBs and establish connection with the cluster in cloud
conn = 'mongodb+srv://Harmeet:harmeet123@cluster0-v6uxh.mongodb.net/test?retryWrites=true&w=majority'
client = pymongo.MongoClient(conn)

In [6]:
# Define database and collection
db = client.crime_db
collection = db.demography

In [7]:
#Add demography data to the database in cluster
db.collection.insert_many(demography.to_dict('records'))

In [12]:
#Read data from cluster
records=db.collection.find()
for record in records:
    #print(record)
    print(f"County names are: {record['NAME']}")

County names are: Ocean
County names are: Atlantic
County names are: Gloucester
County names are: Middlesex
County names are: Salem
County names are: Passaic
County names are: Cape May
County names are: Camden
County names are: Bergen
County names are: Union
County names are: Warren
County names are: Hudson
County names are: Hunterdon
County names are: Burlington
County names are: Morris
County names are: Monmouth
County names are: Mercer
County names are: Sussex
County names are: Essex
County names are: Cumberland
County names are: Somerset